<select id="select-season" (change)="selectSeason($event)" name="seasons">
    <option *ngFor="let season of seasons" value="{{season.seasonNumber}}"
        >{{season.title}}</option>
</select>

<div *ngIf="isSeason()">
    <table class="table">
        <th>Episode Number</th>
        <th>Title</th>
        <th>Overview</th>
        <tbody>
            <tr class="row" *ngFor="let episode of selectedSeason.episodes">
                <td class="episode">{{episode.episodeNumber}}</td>
                <td class="episode">{{episode.title}}</td>
                <td class="overview">{{episode.overview}}</td>
            </tr>
        </tbody>
    </table>
</div>
