<select id="select-season" (change)="selectSeason($event)" name="seasons">
    <option *ngFor="let season of seasons" value="{{season.seasonNumber}}"
        >{{season.title}}</option>
</select>

<div *ngIf="isSeason()">
    <ul>
        <li *ngFor="let episode of selectedSeason.episodes">
            <div>Episode {{episode.episodeNumber}}</div><a class="actorlink" routerLink="/seasons/{{showId}}/{{selectedSeason.seasonNumber}}/{{episode.id}}">{{episode.title}}</a>
        </li>
    </ul>
</div>
