<select id="select-season" (change)="selectSeason($event)" name="seasons" >
    <option *ngFor="let season of seasons" value="{{season.seasonNumber}}" [attr.selected]="season.seasonNumber==0?true:null">{{season.title}}</option>
</select>

<div *ngIf="isSeason()">
    <table>
        <th>Episode Number</th>
        <th>Title</th>
        <th>Overview</th>
        <tbody  *ngFor="let episode of selectedSeason.episodes">
            <tr style="text-align: center;">
            <td>{{episode.episodeNumber}}</td>
            <td>{{episode.title}}</td>
            <td>{{episode.overview}}</td>
        </tr>
        </tbody>
    </table>
</div>
