.video{
    padding-top: 10px;
    font-size: 14px;
}

.genre,.details{
    padding-top: 2px;
    margin-left: 10px;
}

.container,.title{
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    font-size: x-large;
    
}

.desc{
    padding-top: 5px;
    margin-left: 15px;
    padding-right: 5px;
    font-size: large;
    text-align: justify;
}

#wrapper {
    width: 500px;
   
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 275px;
    float:left; /* add this */
   
}
#second {
   
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

#actor{
    padding-top: 10px;
    padding-bottom: 10px;
}

.char-container{
    padding-left: 5px;
}

.no-video{
    font-size: 16px;
}

.episode{
    padding-left: 10px;
}
