<div class="card">
    <div class="card-fill">
            <div><strong>{{show.title|titlecase}}</strong> ({{show.year|date:'yyyy'}})</div>
            <h5>{{show.showGenres}} <br> {{show.runtime}}min</h5>
            <div *ngIf="norating()" class="rating"><div class="fa fa-star checked"></div><div>{{show.rating|number:'1.1-1'}}</div></div>
            <div class="overview-container" *ngIf="show.overview!==null;else NoDesc">
                <div>{{show.overview}}</div>
            </div>
            <ng-template #NoDesc>This Show doesn't have a description!</ng-template>
        </div>
    </div>