.title{
    padding-left: 15px;
}
.card
{
    flex: 0 0 33.333333%;
    
    
}

.container{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.genre{
    padding-left: 20px;
}