<div class="actor-container">
    <div *ngIf="actor.death===null;else Dead">
        <div class="actor">{{actor.name}}</div>
        <div *ngIf="actor.birthday!==null">
            <div>({{actor.birthday|date:"yyyy.MM.dd"}})</div>
        </div>
    </div>
    <div *ngIf="nobio();else Nobio">
        <div class="bio">{{actor.biography}}</div>
    </div>



    <div id="wrapper">
        <div>Famous roles</div>
        <div id="first" *ngFor="let char of actor.showCharacters">
            <div *ngIf="noCharacterName(char.characterName);else NoCharName">
            <div>{{char.characterName}}</div>
        </div>
        </div>
        <div id="second" *ngFor="let character of actor.showList|keyvalue">
            <div ><a class="actorlink" routerLink="/series/{{character.key}}">{{character.value}}</a></div>
        </div>
    </div>

</div>
<ng-template #Dead>
    <div class="actor">{{actor.name}} ({{actor.birthday|date:"yyyy.MM.dd"}}-{{actor.death|date:"yyyy.MM.dd"}})</div>
</ng-template>
<ng-template #Nobio>
    <div class="bio">There is no bio yet!</div>
</ng-template>
<ng-template #NoCharName>Character is unknown at this point</ng-template>